@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("/public/back_image/back.png");
    background-size:cover;

    /* アニメーション */
    opacity: 0; /* 透明 */
    transition: opacity 1.5s ease-out; /* 1.5秒*/
}

/* アニメーション */
body.fade-in {
    opacity: 1; /* 不透明にする */
}

.toast-success {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #4caf50;
    color: #fff;
    padding: 16px 24px;
    border-radius: 8px;
    z-index: 9999;
    font-size: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    display: none;
}
.toast-error {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #f44336;
    color: #fff;
    padding: 16px 24px;
    border-radius: 8px;
    z-index: 9999;
    font-size: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    display: none;
}