@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("/public/back_image/back.png");
    background-size:cover;

    /* アニメーション */
    opacity: 0; /* 透明 */
    transition: opacity 0.3s ease-in; /* 0.6秒*/
}

/* アニメーション */
body.fade-in {
    opacity: 1; /* 不透明にする */
}

.page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.footer {
    transform: translateY(100%); /* 下に隠す */
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer.visible {
    transform: translateY(0); /* 表示 */
    opacity: 1;
}