/* ------------------------------------ */
/* 全体レイアウトの基本設定 */
/* ------------------------------------ */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("/public/back_image/back.png");
    background-size:cover;

    /* アニメーション */
    opacity: 0; /* 透明 */
    transition: opacity 1.5s ease-out; /* 1.5秒*/
}

/* アニメーション */
body.fade-in {
    opacity: 1; /* 不透明にする */
}

/* ------------------------------------ */
/* メイン設定 */
/* ------------------------------------ */
.category {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 15px;
    background: #ffffff;
}

.main_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
}

.main_nav nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main_nav nav ul li {
    margin-right: 20px;
}

.main_nav nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main_nav button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main_nav button a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.category > button:nth-of-type(1) {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main_category {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
}

.main_category img {
    width: 140px;
    height: 140px;
    object-fit: contain;
}
