.categories_container {
    width: 900px;
    max-width: 900px;
    min-width: 320px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* 影を追加 */
    width: 100%;
    box-sizing: border-box;
    background: #ffffff;
}
.categories_container .post-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 投稿アイテム間のスペース */
}
.categories_container .post-item {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: color 300ms, background-color 300ms;
    gap: 40px;
}

.categories_container .post-item:hover {
    background-color: #333;
    color: #FFFFFF;
}

.categories_container .post-details {
    flex-grow: 1; /* 詳細部分がスペースを占有 */
}

.categories_container .post-item:hover .post-title,
.categories_container .post-item:hover p,
.categories_container .post-item:hover span,
.categories_container .post-item:hover i {
    color: #fff;
}

.categories_container .post-stats {
    display: flex;
    align-items: center;
    gap: 40px; /* 統計情報間のスペース */
    font-size: 1.1em;
    color: #555;
    font-weight: bold;
    min-width: 100px; /* 統計情報の最小幅を確保 */
    justify-content: flex-end; /* 右寄せ */
}
.back-button {
    align-items: end;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background-color: #414141;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin-left: auto;
}

/* 投稿がない場合のメッセージ */
.categories_container .no-posts {
    text-align: center;
    color: #888;
    padding: 30px;
    border: 1px dashed #ccc;
    border-radius: 8px;
    margin-top: 20px;
}