/* ------------------------------------ */
/* 投稿系統共通スタイル */
/* ------------------------------------ */
.post-actions {
    margin-top: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.btn-edit {
    background-color: #3490dc;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-delete {
    background-color: #f30b0b;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}