/* プロフィールエリア全体 */
.field {
  width: 1000px;
  height: 700px;
  margin: auto;
  background-color: #fff;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

/* タブ */
.tab-switch {
  flex-grow: 1;
}

.tab-switch input[type="radio"] {
  display: none;
}

.tab-labels {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tab-labels label {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: #ddd;
  border-radius: 5px 5px 0 0;
}

#tab1:checked ~ .tab-labels label[for="tab1"],
#tab2:checked ~ .tab-labels label[for="tab2"] {
  background: #fff;
  border-bottom: 2px solid #fff;
  font-weight: bold;
}

/* コンテンツ共通 */
.tab-switch > .content {
  display: none;
  padding-top: 1rem;
}

#tab1:checked ~ .tab-labels ~ .content1 {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

#tab2:checked ~ .tab-labels ~ .content2 {
  display: block;
}

/* プロフィール入力エリア */
.profile-items,
.password-items {
  flex: 1;
}

.profile-items p,
.password-items p {
  margin-bottom: 1.2rem;
  font-size: 1rem;
  color: #000;
}

.profile-items input,
.password-items input {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
}

/* プロフィール画像 */
.profile-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profile-icon img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

#input-img {
  display: none;
}

/* ボタン */
#edit,
#change-img,
.button-field button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: #414141;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#cansel {
  background-color: #fff;
  color: #000;
  outline: auto;
}

.button-field {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 2rem;
}